body {
	background-color:#dde4c1;
	margin:0px;
	padding:0px;
}
#site-logo {
	border:solid 2px white; padding:4px 8px; width:125px; height:44px; font-weight: bold;
}

.bg-primary {
	background-color:#dde4c1;
}

#header-div {
	border-bottom:white 2px solid;
}

#profile-pix {
	width:100px; height:100px; /*position:relative; top:-80px; */
}

#footer-div {
	height:100px; border-top:solid 2px white;
}